<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="main.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image" href="../doit/Imagenes/logo.png" id="logo">
    <title>DO it</title>
</head>    

<body>
    <!--<nav>
        <button id="listMenu" class="menu" onClick=""><img src="Imagenes/Subject/1x/outline_subject_black_24dp.png" /></button>
        <button id="homeMenu" class="menu" onClick=""><img src="Imagenes/Home/1x/outline_home_black_24dp.png" /></button>
    </nav>-->

    <header>
        <div id="adder" class="header">
            <input type="text" id="newTaskName" placeholder="Tarea a añadir...">
            <span onclick="newElement()" class="addItem">Añadir</span>
        </div>
    </header>
    <main id="listWorker">        
        <ul id="listItems">
            <li class="item" class="doit">sdsadsa</li>
            <li class="item" class="doing">sd</li>
            <li class="item" class="done">sdsa</li>
        </ul>
    </main>

</body>
</html>
<script src="app.js"></script>